<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My blog</title>
    <meta charset="utf-8">
    <link href="../styles/main.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="page-container">
      <h1></h1>
      <h4 class="timestamp"><em>- Posted 30 June 2022, Brayden Drummond</em></h4>

      <div class="topnav">
        <a class="active" href="../index.html">Home</a>
        <a href="Journal-Articles.html">Dev Academy Blog</a>
        <a href="About.html">About</a>
      </div>

      <footer>
        <p class="footer-about">Created by Brayden Drummond, 2022</p>
      </footer>

      <button><a href="Journal-Articles.html">Click here to return to Dev Academy Blog</a></button>

    </div>

  </body>
</html>